In [1]:
%matplotlib notebook

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import glob

In [2]:
# quitar nan

def NanOff(df):
    new = pd.DataFrame(df)
    new = new.replace(np.nan,'0')
    return new

In [26]:
DFrameArray = []
FileNames = []

def OneDataFrame():
    
    for f in glob.glob('Databases/*.xls'):
        df = pd.read_excel(f,sheet_name='hoja1')
        df = NanOff(df) # TAKE OUT THE NAN ENTRIES
        
        DFrameArray.append(df)
        FileNames.append(f)
        
    dft = pd.concat(DFrameArray,ignore_index='True')
    
    return dft

In [27]:
# each element in DFrameArray is a dataframe for each section

# dft contains all the information of the group
dft = OneDataFrame()

In [30]:
print(FileNames)

['Databases/202110_39422_Lista de clase.xls', 'Databases/202110_39380_Lista de clase.xls', 'Databases/202110_10468_Lista de clase.xls', 'Databases/202110_39384_Lista de clase.xls']

In [42]:
# Uso de filtros por columna
DFrameArray[0].filter(items=['ID','A1','A2'])
#DFrameArray[2].filter(like='A',axis=1)

# Seleccion por filar
#DFrameArray[2].set_index('A1')
#print(DFrameArray[2].loc[0:3])

           ID A1 A2
0   202020571  0  0
1   202011469  0  0
2   201912041  0  0
3   201632596  0  0
4   202015089  0  0
5   201633173  0  0
6   202021087  0  0
7   201920915  0  0
8   202021371  0  0
9   202015183  0  0
10  202021552  0  0
11  202021602  0  0
12  202013329  0  0
13  202013634  0  0
14  202013661  0  0
15  201923292  0  0
16  201820242  0  0
17  201923298  0  0
18  202011000  0  0
19  202022351  0  0

In [39]:
#Select the information by columns
for i in range(1,3):
    print(DFrameArray[2]['A'+str(i)])

0    0.5
1    0.7
2    0.3
3    1.0
4    0.8
5    0.3
6    0.2
7    0.7
8    0.6
9    0.9
Name: A1, dtype: float64
0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: A2, dtype: object

In [47]:
# Vamos a hacer corte

print(DFrameArray[2][DFrameArray[2]['A1']<0.7])
A1 = DFrameArray[2]['A1']
A1 = np.array(A1)
print(A1)

                           Nombre         ID Nota1   A1 B1 C1 D1 E1 F1 Nota2  \
0  GALVIS CORREA, ANDRES FERNANDO  201632930     0  0.5  0  0  0  0  0     0
2     IBARRA MUÃ‘OZ, DAVID OCTAVIO  202014446     0  0.3  0  0  0  0  0     0
5   MORENO SUAREZ, DORIS NATHALIA  201820035     0  0.3  0  0  0  0  0     0
6    SANCHEZ PAZOS, CAMILO ANDRES  202113026     0  0.2  0  0  0  0  0     0
8         VERA ANAYA, MARIA PAULA  202113340     0  0.6  0  0  0  0  0     0

  A2 B2 C2 D2 E2 F2
0  0  0  0  0  0  0
2  0  0  0  0  0  0
5  0  0  0  0  0  0
6  0  0  0  0  0  0
8  0  0  0  0  0  0
[0.5 0.7 0.3 1.  0.8 0.3 0.2 0.7 0.6 0.9]

In [48]:
# Write the whole dataframe in an excel file

output = pd.ExcelWriter('DataBaseFisicaI.xls')
dft.to_excel(output,'Hoja1')
output.save()